body {
  background-color: #F8EDEB !important;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.contact-profile {
  border-radius: 5em;
  width: 5em;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}