/* 0) Pre configs */
@media only screen and (max-width: 700px){
  .al-image-viewer-modal-content {
    width: 100%;
  }
}

/* color configs */
:root {
  --goldbrown: #888888;
  --pipiss: #F8EDEB;
  --darkgrey: #999999;
  --verylightgrey: #f2f2f2;
}

/* 1) All elements */

@font-face {
  font-family: 'JosefinSlab-Regular';
  src: url("/fonts/josefinslab-regular-webfont.woff");
}

@font-face {
  font-family: 'Lora-Regular';
  src: url("/fonts/lora-regular-webfont.woff");
}

@font-face {
  font-family: 'Objectivity-Regular';
  src: url("/fonts/objectivity-regular.woff2");
}

body {
  background-color: white !important;
}

nav {
  font-family: 'JosefinSlab-Regular';
}

#app {
  font-family: 'Lora-Regular';
}


/* 2) All Body */
.al-container {
  padding: 6rem 5rem 5rem 5rem;
}

/* 3) Navigation Bar */
.al-navbar {
  padding-left: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.al-mamoto-black-logo {
  filter: grayscale(1) invert(1);
  width: 12vw;
}

.al-mamoto-white-logo {
  width: 12vw;
}

.al-bg-gradient-dark {
  background: linear-gradient(180deg, rgba(0,0,0,0.4) 0%, rgba(255,255,255,0) 100%);
  /* padding: 1em 0; */
}

.al-bg-white {
  background-color: white;
}

.al-bg-white ul.al-navigation-ul, .al-bg-gradient-dark ul.al-navigation-ul{
  margin: 0 !important;
  padding: 1em 0;
}

.al-nav-text-white li a, .al-nav-text-white li span {
  color: white;
  text-decoration: none;
}

.al-nav-text-goldbrown li a, .al-nav-text-goldbrown li span {
  color: var(--goldbrown);
  text-decoration: none;
}

.al-navigation-ul li span:hover i,
.al-navigation-ul li a:hover,
.al-navigation-ul li span:hover
{
  color: var(--pipiss) !important;
  text-decoration: none;
  cursor: pointer;
}

.al-navigation-ul li a,
.al-navigation-ul li span {
  font-size: 0.9rem;
  font-weight: 600;
}

.al-jumbotron-carousel {
  background-image: url("../../../storage/images/jumbotron/jumbotron1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

body.login-page {
  background: url("/images/wedding-ring.png");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: center;
}

.al-full-content {
  height: 100vh;
  /* margin-left: 6vw; */
}

.al-circle-list-btn a {
  padding: 5px;
  border: 2px solid var(--pipiss);
  border-radius: 25px;
}

#book-now-btn:hover {
  background-color: var(--pipiss);
  color: white !important;
}
.al-jumbotron {
  height: 70vh;
}

#jumbotron {
  height: 80%;
  background-image: url("/images/mamoto_picture_logo.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 40%;
}

.al-jumbotron-text {
  font-family: 'Lora-Regular';
  position: absolute;
  padding-left: 3.5vw;
  top: 40vh;
  left: 0;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.al-arrow-left {
  background-image: url("/icons/arrow-left.svg");
  background-repeat: no-repeat;
  width: 32px;
  height: 76px;
}

.al-arrow-right:hover{
  background-image: url("/icons/arrow-right-hover.svg");
  transform: rotate(0deg);
}

.al-arrow-left:hover{
  background-image: url("/icons/arrow-right-hover.svg");
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.al-arrow-right {
  background-image: url("/icons/arrow-left.svg");
  background-repeat: no-repeat;
  width: 32px;
  height: 76px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.al-navigation-ul li {
  position: relative;
  display: inline-block;
}

.al-dropdown-content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: rgba(0,0,0,0.2);
  min-width: 80px;
  max-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: center;
  transition: .3s all;
}


.al-opacity-full {
  background-color: rgba(219, 219, 219, 0.856) !important;
}

.al-opacity-full ul li {
  color: rgb(134, 134, 134) !important;
}

.al-dropdown-content ul {
  padding-inline-start: 0;
}

.al-dropdown-content ul li {
  width: 100%;
  padding: 10px 0;
  font-size: 0.73rem;
  color: rgb(243, 243, 243);
  font-weight: bold;
}

.portfolio-btn:hover .al-dropdown-content {
  opacity: 1;
  visibility: visible;
}

.al-navigation-ul ul li:hover, .al-navigation-ul ul li:hover a {
  background-color: var(--pipiss);
  color: grey !important;
}

.al-opacity-full ul li:hover, .al-navigation-ul ul li:hover a {
  background-color: var(--pipiss);
  color: grey !important;
}

/* 4) Portfolio Elements */
.al-big-title {
  position:absolute;
  left:0;
  right:0;
  height: 13rem;
  background-color: var(--pipiss);
}

.al-big-title-font {
  color: var(--darkgrey);
  font-size: 3em;
  font-weight: 500;
}

.al-breadcrumb h6 {
  font-size: .8em;
  font-weight: 600;
  color: var(--darkgrey);
}

.al-portfolio-cards {
  padding-top: 13rem;
}

.al-grey-color {
  color: var(--darkgrey);
}

.al-pink-color {
  color: var(--pipiss);
}

.al-font1 {
  font-family: 'JosefinSlab-Regular';
}

.al-font2 {
  font-family: 'Lora-Regular';
}

.al-portfolio-card{
  padding-top: 4rem;
  transition: .3s;
}

.al-portfolio-card:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* 5) Image viewer */
/* 5.1) image modal viewer */

/* 5.1.1) The Modal (background) */
.al-image-viewer-modal {
  padding: 10vh 0;
  display: none; /* Hidden by default */
  justify-content: center;
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* 5.1.2) Modal Content (Image) */
.al-image-viewer-modal-content {
  margin: auto;
  max-height: 200vh;
  max-width: 200vh;
  background: transparent;
}

/* 5.2) Add Animation - Zoom in the Modal */
.al-image-viewer-modal-content {
  animation-name: zoom;
  animation-duration: 0.3s;
}

@keyframes zoom {
  from {transform:scale(0.5)}
  to {transform:scale(1)}
}

/* 5.3) The Close Button */
.al-close-btn {
  /* position: absolute;
  top: 0;
  right: 12%; */
  transition: 0.3s;
}

.al-close-btn:hover,
.al-close-btn:focus {
  color:slategray !important;
  text-decoration: none;
  cursor: pointer;
}

/* footer */
footer {
  overflow-x: hidden;
  padding-top: 2rem;
  position:absolute;
  left:0;
  right:0;
  background: linear-gradient(360deg, rgb(189, 189, 189) 0%, rgba(255, 255, 255, 1) 55%) !important;
  font-family: 'Objectivity-Regular';
}

footer p {
  font-size: 14px;
  font-weight: 600;
}

.al-icon-footer:hover {
  cursor: pointer;
}

/* displayed portfolios */
.al-dp-title{
  font-size: 1.7rem;
}

.al-dp {
  padding: 0 5rem;
}

.al-dp-card {
  transition: .3s;
}

.al-dp-card:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.al-img-circle {
  width: 100px;
  border-radius: 50%;
}

.al-feedback {
  background-color:var(--pipiss);
  font-family: 'JosefinSlab-Regular';
  color: var(--darkgrey);
}